/* Reset default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Own styles */

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

header {
  background-color: #f6f7fc;
  -webkit-font-smoothing: antialiased;
  margin-top: -40px;
  top: -40px;
  transform: translate(0, 40px);
  transition: transform 3s;
}

.topnav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo img {
  width: 105px;
}

.avatar-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}

.avatar-container .avatar {
  width: 40px;
  height: 40px;
  background-color: #f58e19;
  overflow: hidden;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-container .round {
  border-radius: 50%;
}

.avatar-container .avatar:hover {
  background-color: black;
}

.first-letter {
  overflow: hidden;
  color: transparent;
}

.first-letter:first-letter {
  line-height: 40px;
  padding-left: 11px;
  color: #fff;
}

.bell {
  height: 25px;
  width: 25px;
  display: block;
  background-color: #b6c1d4;
  mask-image: url("img/icon-bell.svg");
}

.bell:hover {
  background-color: #919ba8;
}

.topnav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu-toggle {
  display: block;
  position: relative;
  top: 0px;
  right: 35px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menu-toggle li:hover {
  background-color: #f6f7fc;
}

#menu-toggle a:first-child li {
  border-bottom: 1px solid #919ba8;
  color: #919ba8;
  cursor: initial;
}

#menu-toggle a:first-child li:hover {
  background-color: initial;
}

#menu-toggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -22px;
  left: -9px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menu {
  position: absolute;
  right: -40px;
  width: 150px;
  margin: 30px 0 0 40px;
  padding: 20px;
  padding-top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 0 2em #919ba8;
}

#menu li {
  padding: 10px 5px;
}

#menu-toggle input:checked ~ ul {
  transform: none;
  opacity: 1;
  visibility: visible;
}

main {
  height: 95vh;
  display: flex;
  align-items: center;
}
.main {
  margin: 0 auto;
  text-align: center;
}
.main div {
  margin-bottom: 10px;
}
.number {
  font-size: 500%;
}
.not-found {
  font-size: 200%;
}
.pop-up-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.pop-up-item {
  margin-bottom: 10px;
  width: 20vw;
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  opacity: 0.9;
}

.pop-up-item .pop-up-status {
  font-weight: bold;
}

.pop-up-item .pop-up-icon:before {
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-color: white;
}

.pop-up-message {
  margin-left: 20px;
}

.pop-up-error {
  background-color: #cc615a;
}

.pop-up-error .pop-up-icon:before {
  mask-image: url("img/icon-exclamation.svg");
}

.pop-up-success {
  background-color: #77b676;
}

.pop-up-success .pop-up-icon:before {
  mask-image: url("img/icon-ok.svg");
}

.pop-up-warning {
  background-color: #faa045;
}

.pop-up-warning .pop-up-icon:before {
  mask-image: url("img/icon-warning.svg");
}
